<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0, minimal-ui"
    />
    <link rel="stylesheet" type="text/css" href="/seat-select/css/styles.css" />
    <title>User Info</title>
  </head>
  <body>
    <div class="main">
      <header class="header">
        <h1 class="header-logo">Air Slingshot</h1>
      </header>
    </div>
    <div>
      <div class="content confirmation">
        <div class="user">
          <p class="message">Here is your reservation info</p>
          <ul class="user-info">
            <li>
              Name:<span id="name"
                ><%= userInfo[0].givenName %> <%= userInfo[0].surName %></span
              >
            </li>
            <li>Email:<span id="email2"> <%= userInfo[0].email %></span></li>
            <% userInfo.forEach((item) =>{ %>
            <li>
              Your seats for <%= item.flight %> are:<span>
                <%= item.seat.join(' ') %></span
              >
            </li>
            <li>
              Your order Id for <%= item.flight %> is:<span>
                <%= item.id %></span
              >
            </li>
            <% }) %>
          </ul>
        </div>
      </div>
    </div>
    <p class="footer-logo">The only way to fly!</p>
  </body>
</html>
